# Rider IDE files
.idea/
*.sln.iml
.Rider*
*.cache
*.xml
*.iml

# Build output
bin/
obj/
.vs/
*.user
*.suo
*.log

# Package files
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Dependency directories
node_modules/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates
.vscode/

# Runtime directories
**/wwwroot/
**/dist/
**/published/

# Blazor-specific files
wwwroot/
wwwroot/css/
wwwroot/js/
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.restore.info


# Temporary files
*.tmp
*.bak
*.swp




